{% set id = uniqid() %}

<cinq-select-redirect class="text-button-m inline-flex gap-2.5 rounded-full border border-current py-5 pr-3.75 pl-5">
	<label for="language-select-{{ id }}">
		<span class="sr-only">{{ __('Select language', 'nexiode') }}</span>
		{{-
			include(
				'svg/use.html.twig',
				{
					attributes: {
						'aria-hidden': 'true'
					},
					classes: ['size-6'],
					icon: 'globe'
				}
			)
		-}}
	</label>
	<select
		class="cursor-pointer"
		id="language-select-{{ id }}"
		data-dom="select"
	>
		{% for language in get_language_selector() %}
			<option value="{{ language.url }}" {{ language.current ? 'selected' }}>
				{{- language.name -}}
			</option>
		{% endfor %}
	</select>
</cinq-select-redirect>
