{{-
	include(
		'blocks/_layout.html.twig',
		{
			paddings: block.layout.paddings,
			id: block.id
		}
	)
-}}

{%- set use_reveal = block.reveal_on_scroll | default( false ) -%}


<div id="{{ block.id }}">
	{%- if use_reveal -%}
		<cinq-media-text-reveal class="block">
		{%- endif -%}

		{# max-h-158.75 lg:max-h-200 #}
		<div class="relative w-full overflow-hidden">
			<div class="aspect-402/635 lg:aspect-1440/800 w-full relative">


				{% if use_reveal %}

					<div class="container absolute z-1 inset-0 flex flex-col items-center justify-center text-blue" aria-hidden="true">
						<{{block.content.heading|default('p')}} class="{{ html_classes( block.content.title_style|default('h1'), 'text-center' ) }}">{{- block.content.title -}}</{{block.content.heading|default('h2')}}>
					</div>
					<div data-dom="mask" class="absolute inset-0 z-2 overflow-hidden size-full">
						<div class="size-full relative after:absolute after:inset-0 after:z-2 after:size-full after:bg-blue/30">
							{{- include('components/media.html.twig', { media: block.media, classes: [ 'block relative z-1 size-full object-cover object-center' ] }) -}}
						</div>
						<div class="container absolute inset-0 z-3 flex items-center justify-center">
							<{{block.content.heading|default('p')}} class="{{ html_classes( block.content.title_style | default( 'h1' ), 'text-center text-off-white' ) }}">
								{{- block.content.title -}}
							</{{block.content.heading|default('p')}}>
						</div>
					</div>
				{% else %}
					{{- include('components/media.html.twig', { media: block.media, classes: [ 'block relative z-1 size-full object-cover object-center' ] }) -}}
					<div class="container absolute z-2 inset-0 flex items-center justify-center">
						<{{block.content.heading|default('p')}} class="{{ html_classes( block.content.title_style | default( 'h1' ), 'text-center text-off-white' ) }}">
							{{- block.content.title -}}
						</{{block.content.heading|default('p')}}>
					</div>
				{% endif %}

			</div>
		</div>

		{%- if use_reveal -%}
		</cinq-media-text-reveal>
	{%- endif -%}
</div>
