{{-
	include(
		'blocks/_layout.html.twig',
		{
			paddings: block.layout.paddings,
			id: block.id
		}
	)
-}}


<section id="{{ block.id }}" class="{{ html_classes( 'text-beige', block.radius != 'none' ? 'relative z-5', block.radius == 'top' ? '-mt-6.25 rounded-t-25 lg:-mt-12.5 lg:rounded-t-50', block.radius == 'bottom' ? '-mb-6.25 rounded-b-25 lg:-mb-12.5 lg:rounded-b-50', block.radius == 'y' ? '-my-6.25 rounded-t-25 rounded-b-25 lg:-my-12.5 lg:rounded-t-50 lg:rounded-b-50'  ) }}">
    <div class="container grid grid-cols-4 lg:grid-cols-12 gap-2.5 lg:gap-x-5 gap-y-7.5">

        <div class="col-span-full space-y-5 lg:col-span-6">
            {%- if block.content.breadcrumb -%}
                {{- yoast_breadcrumb() -}}
            {%- endif -%}

            <{{block.content.heading|default('h2')}} class="h2 text-vert">
                {{- block.content.title | default(post.title) -}}
            </{{block.content.heading|default('h2')}}>

        </div>
      

        {%- if block.content.subtitle or block.links -%}
            <div class="col-span-full lg:col-span-6 lg:col-start-1 space-y-10">
                {%- if block.content.subtitle -%}
                    <p class="h5">
                        {{- block.content.subtitle -}}
                    </p>
                {%- endif -%}

                {%- if block.links -%}
                    <ul class="flex flex-wrap gap-y-2.5 gap-x-5">
                        {%- for item in block.links -%}
                            <li>
                                {{ include('components/button.html.twig', { title: item.link.title, url: item.link.url, mode: 'dark', icon: 'bullet' }, with_context = false) }}
                            </li>
                        {%- endfor -%}
                    </ul>
                {%- endif -%}
            </div>
        {%- endif -%}

        {%- if block.content.text -%}
            <div class="col-span-full lg:col-span-6 lg:mx-[3.46875rem]">
                {%- if block.content.text -%}
                    <p class="text-l">
                        {{- block.content.text -}}
                    </p>
                {%- endif -%}
            </div>
        {%- endif -%}

        {%- if block.items -%}
            {%- for item in block.items -%}
                <div class="col-span-full lg:col-span-3 lg:mt-22.5 text-l space-y-3.75 lg:space-y-6.25 border-t pt-3.75 lg:pt-6.25">
                    <h3 class="text-vert">{{- item.title -}}</h3>
                    <p>{{- item.text -}}</p>
                </div>
            {%- endfor -%}
        {%- endif -%}
    </div>
</section>