{#
 # Products block
 # Title + grid of product cards (image, name, description, CTA link).
 # @package Nexiode
 #}

{%- set products =
	get_posts({
		post_type: 'product',
		posts_per_page: 4
	})
-%}

{{-
	include(
		'blocks/_layout.html.twig',
		{
			paddings: block.layout.paddings,
			id: block.id
		}
	)
-}}

<section id="{{ block.id }}">
	<div
		class="container grid grid-cols-4 gap-x-2.5 gap-y-5 lg:grid-cols-12 lg:gap-x-5 lg:gap-y-12.5"
	>
		{%- if block.title -%}
			<div class="col-span-full lg:col-span-5">
				<h2 class="h4">{{- block.title -}}</h2>
			</div>
		{%- endif -%}

		{%- if products.found_posts > 0 -%}
			{%- for product in products -%}
				<div class="{{ html_classes( loop.first ? 'lg:col-start-1', 'col-span-2 lg:col-span-3' ) }}">
					{{-
						include(
							'components/tease-product.html.twig',
							{
								post: product
							}
						)
					-}}
				</div>
			{%- endfor -%}
		{%- endif -%}
	</div>
</section>
