{#
 # Page: Archive: Post
 #
 # @package CollectiveLaCabane
 #}

{% extends 'index.html.twig' %}

{%- block content -%}
	<main id="content" role="main">
		<div
			class="rounded-b-25 lg:rounded-b-50 relative z-3 -mb-6.25 lg:-mb-12.5"
		>
			{%- block header -%}
				{{- include('header.html.twig', { classes: [ 'relative z-10' ] } ) -}}
			{%- endblock -%}

			<div class="container grid grid-cols-12 gap-5 pt-5 pb-20 lg:pt-12.5">
				<div class="col-span-full space-y-15 text-center lg:col-span-10 lg:col-start-2">
					<div class="space-y-5">
						{{- yoast_breadcrumb() -}}
						<h1 class="h2 text-vert">{{- post.hero.title|default(post.title) -}}</h1>
					</div>

					<ul
						class="scrollbar-hidden -mx-2.5 flex justify-center-safe gap-3 overflow-x-auto px-2.5 lg:mx-0 lg:flex-wrap lg:px-0"
					>
						<li class="whitespace-nowrap">
							{{-
								include(
									'components/chip.html.twig',
									{
										title: __('All posts', 'collective-la-cabane'),
										url: posts_url,
										active: category.term_id == post.category.term_id,
										mode: 'dark'
									}
								)
							-}}
						</li>
						{%- for category in post.categories -%}
							<li class="whitespace-nowrap">
								{{-
									include(
										'components/chip.html.twig',
										{
											title: category.name,
											url: category.link,
											active: category.term_id == post.category.term_id,
											mode: 'dark'
										}
									)
								-}}
							</li>
						{%- endfor -%}
					</ul>
				</div>
			</div>
		</div>

		<div class="pt-27.5 pb-20 lg:pt-32.5">
			<div class="container">
				<div class="grid grid-cols-12 gap-5">
					<div
						class="col-span-full grid grid-cols-12 gap-x-2.5 gap-y-10 lg:col-span-10 lg:col-start-2 lg:gap-x-5 lg:gap-y-20"
					>
						{%- for post in posts -%}
							<div
								class="{{
								html_classes(
									'lg:col-span-4',
									loop.first ? 'col-span-full' : 'col-span-6'
								)
								}}"
							>
								{{-
									include(
										'components/tease-post.html.twig',
										{
											post: post
										}
									)
								-}}
							</div>

							{%- if loop.index == 8 or (loop.last and (posts|length) < 10) -%}
								<div class="col-span-full lg:col-span-4">
									<div
										class="bg-vert rounded-15 flex h-full flex-col justify-between gap-2.5 px-6.25 py-8 lg:gap-5"
									>
										<div class="space-y-5">
											<h2 class="text-m">Inscrivez-vous<br />à notre newsletter</h2>
											<p class="text-l">
												{{- __( 'News and updates from Collective La Cabane.', 'collective-la-cabane' ) -}}
											</p>
										</div>
										{{- include('components/form-newsletter.html.twig', { instance: loop.index + 1 } ) -}}
									</div>
								</div>
							{%- endif -%}
						{%- endfor -%}

						{{-
							include(
								'components/pagination.html.twig',
								{
									classes: ['col-span-full', 'mx-auto'],
									pagination: posts.pagination({
										mid_size: 1
									})
								}
							)
						-}}
					</div>
				</div>
			</div>
		</div>
	</main>
{%- endblock -%}
