{#
 # Category
 #
 # @package WordPress
 # @subpackage WPCinquanteEtUn
 #}

{% extends 'index.html.twig' %}

{%- block content -%}
	<main id="content">
		<h1>{{- term.name -}}</h1>
		<p>{{- term.foo -}}</p>

		{%- for post in term.posts -%}
			<article>
				<h2>
					<a href="{{- post.link -}}">
						{{- post.title -}}
					</a>
				</h2>
			</article>
		{%- else -%}
			<p>{{- __( 'No posts found in this category.', 'wp-cinquante-et-un' ) -}}</p>
		{%- endfor -%}
	</main>
{%- endblock -%}
