{#
 # Macros: Form
 #
 # @package WPCinquanteEtUn
 #}

{#
 # Text Input Macro
 #
 # Args:
 # - id: string (optional) - The ID of the input element. Default is a unique ID.
 # - name: string (optional) - The name attribute of the input element. Default is an empty string.
 # - type: string (optional) - The type attribute of the input element. Default is 'text'.
 # - value: string (optional) - The value attribute of the input element. Default is an empty string.
 # - input_class: array (optional) - Additional classes for the input element. Default is an empty array.
 # - label: string (optional) - The label text for the input element. Default is an empty string.
 # - placeholder: string (optional) - The placeholder text for the input element. Default is an empty string.
 # - attributes: object (optional) - Additional attributes for the input element. Default is an empty object.
 #
 # @package WPCinquanteEtUn
 #}
{% macro text( args ) %}
	{%
		set args = {
			id: uniqid(),
			name: '',
			type: 'text',
			value: '',
			input_class: [],
			label: '',
			placeholder: '',
			attributes: {},
		} | merge( args )
	%}

	<div>

		{% if args.label %}
			<label for="{{ args.id | e }}">
				{{- args.label -}}
			</label>
		{% endif %}

		<input
			id="{{ args.id | e }}"
			type="{{ args.type | e }}"
			name="{{ args.name | e }}"
			class="{{ html_classes( args.input_class | join( ' ' )  ) | trim | e }}"
			{{ args.placeholder ? "placeholder=\"#{ args.placeholder | e  }\"" : '' }}
			value="{{ args.value | e }}"
			{{ args.attributes ? args.attributes | map( ( value, key ) => value == '' ? key : "#{key}=\"#{value}\"" ) | join( ' ' ) | raw }}

		>

	</div>
{% endmacro %}
